/* 手风琴*/

.jm-accordions {
  margin: 20px auto;
}

.jm-accordions .jm-accordion {
  background: #fff;
  margin-bottom: 2px;
}

.jm-accordions .jm-accordion-title {
  cursor: default;
  padding: 20px 30px;
}

.jm-accordions .jm-accordion-content {
  // display: none;
  overflow: hidden;
}

.jm-accordions .jm-accordion-content p {
  padding: 20px;
}

.jm-accordions .jm-accordion.open {}

.jm-accordions .jm-accordion.open .jm-accordion-content {}

.jm-accordions.jm-accordions-vertical {
  width: 800px;
}

.jm-accordion-content {
  transition: all linear 0.2s;
  opacity: 1;
  height: 200px;
}

.jm-accordion-content.ng-hide {
  opacity: 0;
}
/*一下会慢慢解释*/

.jm-accordion-content.ng-hide {}

.jm-accordion-content.ng-hide-add {
  opacity: 1;
  height: 200px;
  display: block;
}

.jm-accordion-content.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  height: 0;
}

.jm-accordion-content.ng-hide-remove {
  opacity: 0;
  height: 0;
  display: block;
}

.jm-accordion-content.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  height: 200px;
}
