//
// Pager pagination
// --------------------------------------------------

.pager {
  padding-left: 0;
  margin: $line-height-computed 0;
  list-style: none;
  text-align: center;
  @include clearfix;

  li {
    display: inline;

     > span,
    > a {
      display: inline-block;
      padding: 5px 14px;
      background-color: $pager-bg;
      border: 1px solid $pager-border;
      border-radius: $pager-border-radius;
    }

     > a:focus,
    > a:hover {
      text-decoration: none;
      background-color: $pager-hover-bg;
    }
  }

  .next {
     > span,
    > a {
      float: right;
    }
  }

  .previous {
     > span,
    > a {
      float: left;
    }
  }

  .disabled {
     > a:focus,
     > a:hover,
     > span,
    > a {
      color: $pager-disabled-color;
      background-color: $pager-bg;
      cursor: $cursor-disabled;
    }
  }
}
