//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults

     > span,
    > a {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }

    &:first-child {
       > span,
      > a {
        margin-left: 0;
        @include border-left-radius($border-radius-base);
      }
    }

    &:last-child {
       > span,
      > a {
        @include border-right-radius($border-radius-base);
      }
    }
  }

   > li > span,
  > li > a {
    &:focus,
    &:hover {
      z-index: 2;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

   > .active > span,
  > .active > a {
    &,
    &:focus,
    &:hover {
      z-index: 3;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
     > a,
     > a:focus,
     > a:hover,
     > span:focus,
     > span:hover,
    > span {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: $cursor-disabled;
    }
  }
}
// Sizing
// --------------------------------------------------
// Large

.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
// Small

.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
