<div class="row">
    <div class="jumbotron col-lg-18 col-lg-offset-4">
        <!--<div class="jumbotron-logo">-->
        <!--<img src="../../asset/img/logo.png" alt="" />-->
        <!--</div>-->
        <div class="text-info">
            <h1>Hello, Angular!</h1>
            <p>Welcome to your Angular.js app!</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/jm-team/ng-seed" target="_blank"
                  role="button">Learn more</a></p>

            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <span class="jiathis_txt">分享到：</span>
                <a class="jiathis_button_tools_1"></a>
                <a class="jiathis_button_tools_2"></a>
                <a class="jiathis_button_tools_3"></a>
                <a class="jiathis_button_tools_4"></a>
                <a href="http://www.jiathis.com/share"
                   class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                <a class="jiathis_counter_style"></a>
            </div>

            <script type="text/javascript-lazy" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
    </div>


    <div style="height:1800px"></div>
    <button ng-click="startFn()">start</button>
    <div>
        <div jm-carousel interval="myInterval">
            <ul class="jm-carousel-inner">
                <li class="item" ng-class="{'active': $first}" ng-repeat="slide in slides">
                    <span  afkl-lazy-image="{{slide.image}}"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- 聚贸服务侧边栏-->
    <div jm-toolbar togglelass="on"></div>
</div>