//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.jm-btn-group,
.jm-btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .jm-btn alignment given font-size hack above
  > .jm-btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.jm-btn-group {
  .jm-btn + .jm-btn,
  .jm-btn + .jm-btn-group,
  .jm-btn-group + .jm-btn,
  .jm-btn-group + .jm-btn-group {
    margin-left: -1px;
  }
}

// Optional: Group multiple button groups together for a toolbar
.jm-btn-toolbar {
  margin-left: -5px; // Offset the first child's margin
  @include clearfix;

  .jm-btn,
  .jm-btn-group,
  .input-group {
    float: left;
  }
  > .jm-btn,
  > .jm-btn-group,
  > .input-group {
    margin-left: 5px;
  }
}

.jm-btn-group > .jm-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

// Set corners individual because sometimes a single button can be in a .jm-btn-group and we need :first-child and :last-child to both match
.jm-btn-group > .jm-btn:first-child {
  margin-left: 0;
  &:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }
}
// Need .dropdown-toggle since :last-child doesn't apply, given that a .dropdown-menu is used immediately after it
.jm-btn-group > .jm-btn:last-child:not(:first-child),
.jm-btn-group > .dropdown-toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including jm-btn-groups within jm-btn-groups (useful for including dropdown buttons within a jm-btn-group)
.jm-btn-group > .jm-btn-group {
  float: left;
}
.jm-btn-group > .jm-btn-group:not(:first-child):not(:last-child) > .jm-btn {
  border-radius: 0;
}
.jm-btn-group > .jm-btn-group:first-child:not(:last-child) {
  > .jm-btn:last-child,
  > .dropdown-toggle {
    @include border-right-radius(0);
  }
}
.jm-btn-group > .jm-btn-group:last-child:not(:first-child) > .jm-btn:first-child {
  @include border-left-radius(0);
}

// On active and open, don't show outline
.jm-btn-group .dropdown-toggle:active,
.jm-btn-group.open .dropdown-toggle {
  outline: 0;
}


// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.jm-btn-group-xs > .jm-btn { @extend .jm-btn-xs; }
.jm-btn-group-sm > .jm-btn { @extend .jm-btn-sm; }
.jm-btn-group-lg > .jm-btn { @extend .jm-btn-lg; }


// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.jm-btn-group > .jm-btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.jm-btn-group > .jm-btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

// The clickable button for toggling the menu
// Remove the gradient and set the same inset shadow as the :active state
.jm-btn-group.open .dropdown-toggle {
  @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));

  // Show no shadow for `.jm-btn-link` since it has no other button styles.
  &.jm-btn-link {
    @include box-shadow(none);
  }
}


// Reposition the caret
.jm-btn .caret {
  margin-left: 0;
}
// Carets in other button sizes
.jm-btn-lg .caret {
  border-width: $caret-width-large $caret-width-large 0;
  border-bottom-width: 0;
}
// Upside down carets for .dropup
.dropup .jm-btn-lg .caret {
  border-width: 0 $caret-width-large $caret-width-large;
}


// Vertical button groups
// ----------------------

.jm-btn-group-vertical {
  > .jm-btn,
  > .jm-btn-group,
  > .jm-btn-group > .jm-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }

  // Clear floats so dropdown menus can be properly placed
  > .jm-btn-group {
    @include clearfix;
    > .jm-btn {
      float: none;
    }
  }

  > .jm-btn + .jm-btn,
  > .jm-btn + .jm-btn-group,
  > .jm-btn-group + .jm-btn,
  > .jm-btn-group + .jm-btn-group {
    margin-top: -1px;
    margin-left: 0;
  }
}

.jm-btn-group-vertical > .jm-btn {
  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  &:first-child:not(:last-child) {
    @include border-top-radius($btn-border-radius-base);
    @include border-bottom-radius(0);
  }
  &:last-child:not(:first-child) {
    @include border-top-radius(0);
    @include border-bottom-radius($btn-border-radius-base);
  }
}
.jm-btn-group-vertical > .jm-btn-group:not(:first-child):not(:last-child) > .jm-btn {
  border-radius: 0;
}
.jm-btn-group-vertical > .jm-btn-group:first-child:not(:last-child) {
  > .jm-btn:last-child,
  > .dropdown-toggle {
    @include border-bottom-radius(0);
  }
}
.jm-btn-group-vertical > .jm-btn-group:last-child:not(:first-child) > .jm-btn:first-child {
  @include border-top-radius(0);
}


// Justified button groups
// ----------------------

.jm-btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .jm-btn,
  > .jm-btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .jm-btn-group .jm-btn {
    width: 100%;
  }

  > .jm-btn-group .dropdown-menu {
    left: auto;
  }
}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-toggle="buttons"] {
  > .jm-btn,
  > .jm-btn-group > .jm-btn {
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
}
