/*tab*/
.jm-tabs {
    margin: 50px auto;
}

.jm-tabs .jm-tabs-header {
    height: 42px;
    line-height: 42px;
}

.jm-tabs .jm-tabs-header .jm-tabs-title {
    float: right;
}

.jm-tabs-header ul {
    margin-bottom: 0;
    float: left;
    padding: 0;
}

.jm-tabs-header li {
    display: inline-block;
    background: #f4f4f4;
    margin-right: 8px;
}

/*.tab-header li:first-child{
    border-left:1px solid #ccc;
}*/
.jm-tabs-header li.active {
    background: #fff;
}

.jm-tabs-header a {
    display: block;
    color: #555;
    padding: 0 15px;
    text-decoration: none;
    text-align: center;
    cursor: default;
}

.jm-tabs-content {
    padding: 30px;
    background: #fff;
    border-top: none;
}

.jm-tabs-content section {
    display: none;
}

.jm-tabs-content section.active {
    display: block;
}

/* 从右往左排列*/
.jm-tabs.jm-tabs-right .jm-tabs-header ul {
    float: right;
}

.jm-tabs.jm-tabs-right .jm-tabs-title {
    float: left;
}

.jm-tabs .jm-tabs-header-right li {
    margin-left: 8px;
    margin-right: 0;
}

/* 垂直的tab */
.jm-tabs.jm-tabs-vertical {
    display: table;
}

.jm-tabs.jm-tabs-vertical .jm-tabs-header {
    display: table-cell;
    width: 150px;
    min-width: 120px;
    vertical-align: top;
}

.jm-tabs.jm-tabs-vertical .jm-tabs-header li {
    width: 100%;
    margin-bottom: 8px;
}

.jm-tabs.jm-tabs-vertical .jm-tabs-content {
    display: table-cell;
}