<div class="container">
        <header>
                <h2 class="text-center">About Page</h2>
        </header>

        <button class="jm-btn jm-btn-success" trigger="click" jm-tooltip delay="3000" resolve="resolves" tooltip-title="标题" tooltip-content="<p>这是一段内容,这是一段内容,这是一段内容,这是一段内容</p>">有依赖的 tooltip 点击</button>

        <button class="jm-btn jm-btn-danger" popper-class="tooltip-left" jm-tooltip tooltip-title="标题2" tooltip-content="<p>这是一段内容2,这是一段内容2,这是一段内容2,这是一段内容2</p>">tooltip 移入</button>

        <button class="jm-btn jm-btn-info" trigger="focus" jm-tooltip tooltip-title="标题3" tooltip-content="<p>这是一段内容3,这是一段内容3,这是一段内容3,这是一段内容3</p>">tooltip focus</button>

        <button class="jm-btn jm-btn-primary" template="{{template}}" jm-tooltip trigger="click" controller-name="tooltipCtrl" tooltip-title="模板上的标题4"
                tooltip-content="模板内容">tooltip click</button>

        <button class="jm-btn <jm-btn-warning></jm-btn-warning>" jm-tooltip tooltip-title="标题5" tooltip-content="<p>这是一段内容5,这是一段内容5,这是一段内容5,这是一段内容5</p>">tooltip hover</button>
</div>


<div class="row">
        <div class="col-md-12">
                <p>{{ on }}</p>

                <jm-switch style="margin:20px;" width="58" 
                        on-text="ON"
                        on-color="#13ce66"
                        off-text="OFF" 
                        off-color="#ff4949"
                        name="checked" 
                        ng-model="on"
                        ng-disabled="disabled">
                </jm-switch>

                <jm-switch style="margin:20px;" width="64" 
                        on-text="ON"
                        on-color="#13ce66"
                        off-text="OFF" 
                        off-color="#ff4949"
                        name="checked" 
                        ng-model="on1"
                        disabled="disabled">
                </jm-switch>


                <jm-switch style="margin:20px;" width="64" 
                        on-text="ON"
                        on-color="#13ce66"
                        off-text="OFF" 
                        off-color="#ff4949"
                        name="checked" 
                        ng-model="on2"
                        >
                </jm-switch>

                <button ng-click="toggleDisabled()">是否可切换switch</button>
        </div>
        <div class="col-md-12"></div>
</div>