<div class="col-md-24">
  <h1>Pdf <span class="small">pdf</span></h1>

  <section class="markdown">
    <p>pdf组件。</p>
  </section>

  <div class="row">
    <div class="col-md-24">

      <div class="ibox">
        <header class="ibox-title">
          <h5>基础用法</h5>
        </header>

        <div class="ibox-content">
          <div
              style="height:600px;"
              jm-pdf
              url="{{'img/system/1.pdf' | imgSystem}}">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
