<div class="col-md-24">
  <h1>Pdf <span class="small">pdf</span></h1>

  <section class="markdown">
    <p>pdf组件。</p>
  </section>

  <div class="row">
    <div class="col-md-24">

      <div class="ibox">
        <header class="ibox-title">
          <h5>基础用法</h5>
        </header>

        <div class="ibox-content">
          <h3>通过html-loader div:url和file-loader实现文件引入，有hash命名</h3>
          <div
              style="height:600px;"
              jm-pdf
              url="../../../asset/img/system/1.pdf">
          </div>

          <h3>通过imgSystem filter实现文件引入，无hash命名</h3>
          <p>依赖了webpack runtime属性__webpack_require__.p获取public path</p>
          <p>system文件夹通过webpack copy 插件直接复制到dist目录下</p>
          <div
              style="height:600px;"
              jm-pdf
              url="{{'img/system/1.pdf' | imgSystem}}">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
