<!--<div>

  <section class="main-content">
    <header>
      <h1>Upload上传</h1>
    </header>

    <fieldset>
      <legend>服务端剪裁上传文件</legend>

      <div fine-uploader auto-upload="false" upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png"
        allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="0-server-crop-upload-template"></div>

      <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
      <div class="code-example"></div>
    </fieldset>


    <fieldset>
      <legend>点击上传多个文件</legend>

      <div fine-uploader upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png" allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="1-multiple-upload-template"></div>

      <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
      <div class="code-example"></div>
    </fieldset>

    <fieldset>
      <legend>图片列表样式</legend>

      <div fine-uploader upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png" allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="2-pic-list-upload-template"></div>

      <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
      <p class="comments">点击缩略图可以预览图片</p>
      <div class="code-example"></div>
    </fieldset>

    <fieldset>
      <legend>单个图片</legend>

      <div fine-uploader upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png" allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="3-pic-single-upload-template"></div>


      <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
      <div class="code-example"></div>
    </fieldset>

    <fieldset>
      <legend>拖拽上传</legend>

      <div fine-uploader upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png" allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="4-drag-upload-template"></div>


      <div class="code-example"></div>
    </fieldset>

    <fieldset>
      <legend>照片墙</legend>

      <div fine-uploader upload-server="/uploads" max-file-size="512000" large-preview-size="500" allowed-mimes="image/jpeg, image/png" allowed-extensions='{{["jpeg", "jpg", "png"]}}' template="5-pic-wall-template"></div>

      <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
      <div class="code-example"></div>
    </fieldset>
  </section>-->

<!-- 服务端剪裁上传文件
    ====================================================================== -->
<!--<script type="text/template" id="0-server-crop-upload-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <ul class="qq-upload-list-selector file-list">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>

          <a href="#">
            <span class="qq-upload-spinner-selector jm-icon-loading jm-icon jm-margin-r-10px"></span>
            <span class="jm-icon-file jm-icon jm-margin-r-10px"></span>
            <span class="qq-upload-file-selector"></span>
          </a>

          <span class="qq-upload-delete-selector jm-upload-btn-delete">删除</span>

          <img class="qq-thumbnail-selector" qq-max-size="" qq-server-scale  style="display: none;">
          <div id="crop-preview" style="width: 100px; height: 100px;overflow: hidden"></div>
        </li>
      </ul>

      <div class="qq-upload-button-selector jm-btn">
        <div>选择文件</div>
      </div>

      <button type="button" class="jm-btn" ng-click="triggerCrop()" ng-disabled="!hasPickedFile">剪裁</button>

      <button type="button" class="jm-btn" ng-click="triggerUpload()" ng-disabled="!hasPickedFile">上传</button>
    </div>
  </script>-->

<!-- 多个文件上传
    ====================================================================== -->
<!--<script type="text/template" id="1-multiple-upload-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <ul class="qq-upload-list-selector file-list">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>

          <a href="#">
            <span class="qq-upload-spinner-selector jm-icon-loading jm-icon jm-margin-r-10px"></span>
            <span class="jm-icon-file jm-icon jm-margin-r-10px"></span>
            <span class="qq-upload-file-selector"></span>
          </a>

          <span class="qq-upload-delete-selector jm-upload-btn-delete">删除</span>

        </li>
      </ul>

      <div class="qq-upload-button-selector jm-btn">
        <div>上传</div>
      </div>
    </div>
  </script>-->

<!-- 图片列表上传
    ====================================================================== -->
<!--<script type="text/template" id="2-pic-list-upload-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <ul class="qq-upload-list-selector file-list">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>

          <a href="#">
            <span class="qq-upload-spinner-selector jm-icon-loading jm-icon jm-margin-r-10px"></span>
            <img class="qq-thumbnail-selector thumbnail50-50 jm-margin-r-10px thumbnail-button" qq-max-size="100" qq-server-scale>
            <span class="qq-upload-file-selector"></span>
          </a>

          <span class="qq-upload-delete-selector jm-upload-btn-delete">删除</span>

        </li>
      </ul>

      <div class="qq-upload-button-selector jm-btn">
        <div>上传</div>
      </div>
    </div>
  </script>-->


<!-- 单个图片上传
    ====================================================================== -->
<!--<script type="text/template" id="3-pic-single-upload-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <div class="qq-upload-button-selector jm-single-upload-placeholder">
        <div class="jm-single-upload-content">
          <span class="jm-icon-add jm-icon jm-upload-plus"></span>
          <div class="jm-single-upload-btn-text">上传</div>
        </div>
        <ul class="qq-upload-list-selector file-list jm-upload">
          <li>
            <a href="#">
              <img class="qq-thumbnail-selector thumbnail150-150" qq-max-size="100" qq-server-scale>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </script>-->


<!-- 拖拽上传
    ====================================================================== -->
<!--<script type="text/template" id="4-drag-upload-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
      </span>

      <div class="jm-drag-zone qq-upload-button-selector">

        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
          <span class="qq-upload-drop-area-text-selector"></span>
        </div>

        <i class="jm-icon-upload"></i>
        <div class="jm-dragger-text">将文件拖到此处，或<em>点击上传</em></div>
      </div>

      <p class="comments margin-bottom-10px">只能上传jpg/png文件，且不超过500kb</p>

      <ul class="qq-upload-list-selector file-list">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>

          <a href="#">
            <span class="qq-upload-spinner-selector jm-icon-loading jm-icon jm-margin-r-10px"></span>
            <span class="jm-icon-file jm-icon jm-margin-r-10px"></span>
            <span class="qq-upload-file-selector"></span>
          </a>

          <span class="qq-upload-delete-selector jm-upload-btn-delete">删除</span>

        </li>
      </ul>

    </div>
  </script>-->


<!-- 照片墙
    ====================================================================== -->
<!--<script type="text/template" id="5-pic-wall-template">
    <div class="qq-uploader-selector">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <ul class="qq-upload-list-selector pic-wall-list">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>

          <a href="#">
            <img class="qq-thumbnail-selector thumbnail100-100" qq-max-size="100" qq-server-scale>
          </a>

          <span class="qq-upload-delete-selector jm-upload-btn-delete">删除</span>

        </li>
      </ul>

      <div class="qq-upload-button-selector jm-pic-wall-placeholder">
        <div class="jm-pic-wall-upload-content">
          <span class="jm-icon-add jm-icon jm-upload-plus"></span>
          <div class="jm-single-upload-btn-text">上传</div>
        </div>
      </div>

    </div>
  </script>-->



<!--</div>-->

<style>
  .source {
    padding: 24px;
  }

  .jm-upload {
    display: inline-block;
    text-align: center;
  }
  .jm-upload--picture-card{
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    cursor: pointer;
    line-height: 146px;
    vertical-align: top;
  }
  .jm-upload--picture-card i{
    font-size: 28px;
    color: #8c939d;
  }

  .jm-upload img{
    width: 100%;
    height: 100%;
    vertical-align: top;
  }

</style>

<div>
  <section class="main-content">
    <header>
      <h1>Upload上传</h1>
    </header>
  </section>

  <div>
    <div class="source">
      <div class="file-upload-box" is-file-list="true" upload files="files" on-complete="onComplete(arg)">
        <div class="jm-upload jm-upload--picture-card">
          <i class="jm-icon-add jm-icon" ng-if="files.length < 1"></i>
          <img ng-if="files.length > 0" ng-src="{{ files[0].path|imgOrigin}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
