/*tab*/
.jm-tabs .jm-tabs-header {
    border-bottom: 1px solid #d9d9d9;
}

.jm-tabs .jm-tabs-header .jm-tabs-title {
    float: right;
}

.jm-tabs-header ul {
    margin-bottom: 0;
    float: left;
    padding: 0;
}

.jm-tabs-header li {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    cursor: pointer;

    .jm-icon{
        margin-right: 6px;
    }
}

/*.tab-header li:first-child{
    border-left:1px solid #ccc;
}*/
.jm-tabs-header li.active {
    //background: #fff;
    color: #0e62c7;
    border-bottom: 2px solid #0e62c7;
    transform: translateY(1PX);
    z-index: 2;
}

.jm-tabs-header a {
    display: block;
    color: inherit;
    padding:5px 15px;
    text-decoration: none;
    text-align: center;


    //cursor: default;
}

.jm-tabs-content {
    padding: 30px;
    background: #fff;
    border-top: none;
}

.jm-tabs-content section {
    display: none;
}

.jm-tabs-content section.active {
    display: block;
}

/* 从右往左排列*/
.jm-tabs.jm-tabs-right .jm-tabs-header ul {
    float: right;
}

.jm-tabs.jm-tabs-right .jm-tabs-title {
    float: left;
}

.jm-tabs .jm-tabs-header-right li {
    margin-left: 8px;
    margin-right: 0;
}

/* 垂直的tab */
.jm-tabs.jm-tabs-vertical {
    display: table;
    width: 100%;
}

.jm-tabs.jm-tabs-vertical {

    .jm-tabs-header{
        display: table-cell;
        width: 150px;
        min-width: 120px;
        vertical-align: top;
        border-bottom:none;
    }


    &.jm-tabs-left{
        .jm-tabs-header{
            border-right: 1px solid #d9d9d9;
        }

        li.active{
            border-right: 2px solid #0e62c7;
            transform: translateX(1px);
        }
    }

    &.jm-tabs-right{
        .jm-tabs-header {
            border-left: 1px solid #d9d9d9;
        }

        li.active{
            border-left: 2px solid #0e62c7;
            transform: translateX(-1px);
        }
    }

    li.active{
        border-bottom: none;
        top:0;
    }

    a{
        padding: 8px 24px;
    }
}

.jm-tabs.jm-tabs-vertical .jm-tabs-header li {
    width: 100%;
    margin-bottom: 8px;
}

.jm-tabs.jm-tabs-vertical .jm-tabs-content {
    display: table-cell;
}