<div class="col-md-24">
  <h1>Anchor <span class="small">锚点</span></h1>

  <section class="markdown">
    <p>用于跳转到页面指定位置。</p>
  </section>

  <section class="markdown">
    <h2>何时使用</h2>
    <p>需要展现当前页面上可供跳转的锚点链接，以及快速在锚点之间跳转。。</p>
  </section>

  <div class="col-md-24">
    <div class="ibox">
      <div class="ibox-title">
        <h5>基础用法</h5>
      </div>

      <div class="ibox-content">
        <button class="jm-btn jm-btn-primary" jm-anchor-smooth-scroll target-id="anchor2">到锚点测试2去</button>
      </div>
    </div>
  </div>


  <div style="height: 600px;">

  </div>

  <div style="height: 600px;">
    <div id="anchor2">

      <h2>这是是锚点测试2</h2>
      <button class="jm-btn jm-btn-primary" jm-anchor-smooth-scroll>到顶部</button>
    </div>
  </div>

  <div style="height: 600px;">

  </div>
</div>
