<div id="header">
    <header class="container">
        <div class="col-xs-10 col-sm-8 col-lg-6 logo">
            <a ui-sref="home" class="fn-clear" style="display: inline-block; vertical-align: middle">
                <div><img height="42" src="../../img/logo.png" alt="jumore 聚贸" title="jumore 聚贸" /></div>
            </a>
            <iframe style="display: inline-block; vertical-align: middle" src="https://ghbtns.com/github-btn.html?user=jm-team&repo=ng-seed&type=star&count=true&size=large&v=2"
                frameborder="0" scrolling="0" width="160px" height="30px">
            </iframe>
        </div>


        <div class="col-xs-14 col-sm-16 col-lg-18 nav-main">
            <div class="hidden-xs">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="chart">Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="scroll">Scroll</a></li>
                    <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                    <li ui-sref-active="active"><a ui-sref="news.list">News</a></li>
                    <li ui-sref-active="active"><a ui-sref="help">Help</a></li>
                    <li ui-sref-active="active"><a ui-sref="search({categoryId:0, industryId:0})">Search</a></li>
                    <li ui-sref-active="active"><a ui-sref="ueditor">Ueditor</a></li>
                    <!--<li><a href="" ng-click="modal($event)">Login</a></li>-->
                    <li><a href="javascript:;" ng-click="modalV2($event)">LoginV2</a></li>
                </ul>
            </div>

            <div>{{ user.companyName }}</div>
        </div>
    </header>
</div>