<div id="header" class="bg-info">
    <header class="container">

        <div class="col-xs-5 col-sm-4 col-lg-3 logo">
            <a ui-sref="home" class="fn-clear" style="display: inline-block; vertical-align: middle"><h1><img height="42" src="../../img/logo.png" alt="jumore 聚贸" title="jumore 聚贸" /></h1></a>
            <iframe style="display: inline-block; vertical-align: middle" src="https://ghbtns.com/github-btn.html?user=jm-team&repo=ng-seed&type=star&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>


        <div class="col-xs-7 col-sm-8 col-lg-9 nav-main pull-right">
            <div class="hidden-xs">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="chart">Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="scroll">Scroll</a></li>
                    <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                    <li ui-sref-active="active"><a ui-sref="news.list">News</a></li>
                    <li ui-sref-active="active"><a ui-sref="help">Help</a></li>
                    <li ui-sref-active="active"><a ui-sref="search({categoryId:1})">Search</a></li>
                    <li ui-sref-active="active"><a ui-sref="ueditor">Ueditor</a></li>
                    <!--<li><a href="" ng-click="modal($event)">Login</a></li>-->
                    <li><a href="javascript:;" ng-click="modalV2($event)">LoginV2</a></li>
                </ul>
            </div>

            <div class="visible-xs text-right text-primary">
               <i class="menu glyphicon glyphicon-align-justify" toggle="nav-menu"></i>
            </div>
        </div>

        <div class="col-xs-12 nav-menu animate-hidden">
            <ul class="list-unstyled nav nav-pills nav-stacked">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                <li><a href="" ng-click="modal($event)">LOGIN</a></li>
            </ul>
        </div>
    </header>
</div>