// 按钮变体
//
// 轻松抽出默认样式，以及：hover，：focus，：active和所有按钮的禁用选项

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    //color: $color;
    //background-color: lighten($background, 10%);
    //border-color: lighten($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: lighten($background, 10%);
    border-color: lighten($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    outline: none;
    //color: $color;
    //background-color: lighten($background, 10%);
    //border-color: lighten($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      //color: $color;
      //background-color: lighten($background, 17%);
      //border-color: lighten($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }

  // 3D button
  &.jm-btn-dim{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 5px;

    box-shadow:  0px 3px 0px darken($background, 10%), 0px 3px 6px rgba(0,0,0,.9);
  }

  &.jm-btn-dim:focus,
  &.jm-btn-dim:hover,
  &.jm-btn-dim:active {
    outline: none;
    background-color: $background;
    border-color: $border;
  }

  &.jm-btn-dim:active {
    outline: none;
    box-shadow: 0px 0px 0px darken($background, 10%);
  }


  // 边框按钮
  &.jm-btn-outline {
    background: #fff;
    border-color: $background;
    color: $background;
  }
}

// 按钮尺寸
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// 按钮绝对尺寸
@mixin button-absolute-size($width, $height, $font-size, $icon-size){
  width: $width;
  height: $height;
  font-size: $font-size;
}

@mixin button-circle($width, $height, $font-size, $border-radius){
  width: $width;
  height: $height;
  border-radius: $border-radius !important;
  text-align: center;
  font-size: $font-size;
  padding: 0;

  .jm-icon {
    top: 0;
  }
}

@mixin button-dim($width, $height, $font-size){
  width: $width;
  height: $height;
  font-size: $font-size;
}


