.backTop {
  width: 60px;
  height: 60px;
  background: #fff;
  position: fixed;
  right: 0;
  bottom: 170px;
  z-index: 1000;
  color: grey;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
}
