
.jm-panel {
    background: #fff;
    margin-bottom: 30px;
}

.jm-panel h1.parimary-header {
    padding-left: 34px;
    line-height: 84px;
    font-size: 36px;
    font-weight: bold;
    color: #007ae1;
}

.jm-panel h2.jm-panel-header {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #007ae1;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.jm-panel h2.jm-panel-header .more {
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
}

.jm-panel .jm-panel-body .col-header {
    color: #333333;
    font-weight: bold;
    line-height: 40px;
    overflow: hidden;
    background: #46b573;
}

.aside-column .jm-panel .jm-panel-body .col-header {
    color: #fff;
    background: #90b0cb;
}

.jm-panel .jm-panel-body .col-header .col,
.jm-panel .jm-panel-body .data-list .col {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jm-panel .jm-panel-body .data-list {
    line-height: 40px;
}

.jm-padding-20 {
    padding: 20px;
}

.jm-padding-t-10 {
    padding-top: 10px;
}

.jm-padding-l-10 {
    padding-left: 10px;
}

.jm-padding-l-20 {
    padding-left: 20px;
}

.jm-padding-r-20 {
    padding-right: 20px;
}

.jm-padding-l-15 {
    padding-left: 15px;
}

.jm-padding-r-15 {
    padding-right: 15px;
}

.jm-padding-t-15 {
    padding-top: 15px;
}

.jm-padding-t-20 {
    padding-top: 20px;
}

.jm-padding-b-20 {
    padding-bottom: 20px;
}

.jm-padding-b-15 {
    padding-bottom: 15px;
}

.jm-padding-b-10 {
    padding-bottom: 10px;
}

.jm-padding-l-30 {
    padding-left: 30px;
}

.jm-padding-r-30 {
    padding-right: 30px;
}

.jm-padding-b-30 {
    padding-bottom: 30px;
}

.jm-padding-l-35 {
    padding-left: 35px;
}

.jm-padding-r-35 {
    padding-right: 35px;
}

.jm-padding-l-50 {
    padding-left: 50px;
}

.jm-padding-r-50 {
    padding-right: 50px;
}

.jm-padding-l-55 {
    padding-left: 55px;
}

.jm-padding-r-55 {
    padding-right: 55px;
}

.jm-padding-l-60 {
    padding-left: 60px;
}

.jm-padding-r-60 {
    padding-right: 60px;
}


.jm-panel .jm-panel-body .data-list.even {
    background: #e1f2ff;
}

.aside-column .jm-panel .jm-panel-body .data-list.odd {
    background: #e1f2ff;
}

.aside-column .jm-panel .jm-panel-body .data-list.even {
    background: #fff;
}

.jm-panel .jm-panel-body .data-list .col.up {
    color: #27cd82;
}

.jm-panel .jm-panel-body .data-list .col.down {
    color: #ff536f;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.mb-clear {
    margin-bottom: 0;
}
