<div class="row">
  <div class="col-md-4 col-sm-5 navbar-static-side">
    <ul class="nav metismenu">
      <li><a ui-sref="components.chart" ui-sref-active="active">Chart</a></li>
      <li><a ui-sref="components.scroll" ui-sref-active="active">Scroll</a></li>
      <li><a ui-sref="components.news.list" ui-sref-active="active">News</a></li>
      <li><a ui-sref="components.search" ui-sref-active="active">Search</a></li>
      <li><a ui-sref="components.ueditor" ui-sref-active="active">Ueditor</a></li>
      <li><a ui-sref="components.tooltip" ui-sref-active="active">Tooltip</a></li>
      <li><a ui-sref="components.switch" ui-sref-active="active">Switch</a></li>
      <li><a ui-sref="components.lazyimg" ui-sref-active="active">LazyImg</a></li>
      <li><a ui-sref="components.rate" ui-sref-active="active">Rate</a></li>
      <li><a ui-sref="components.alert" ui-sref-active="active">Alert</a></li>
      <li><a ui-sref="components.dialog" ui-sref-active="active">Dialog</a></li>
      <li><a ui-sref="components.pagintion" ui-sref-active="active">Pagintion</a></li>
      <li><a ui-sref="components.imgerror" ui-sref-active="active">Imgerror</a></li>
      <li><a ui-sref="components.crumb" ui-sref-active="active">Crumb</a></li>
      <li><a ui-sref="components.tab" ui-sref-active="active">Tab</a></li>
      <li><a ui-sref="components.anchor" ui-sref-active="active">anchor</a></li>
      <li><a ui-sref="components.accordion" ui-sref-active="active">Accordion</a></li>
      <li><a ui-sref="components.checkbox" ui-sref-active="active">Checkbox</a></li>
    </ul>
  </div>
  <div class="col-md-20 col-sm-19" style="position: relative;">
    <div jm-crumbs abstract-proxy-property="data.breadcrumbProxy" index-crumb="{{indexCrumb}}"></div>
    <div ui-view=""></div>
  </div>
</div>