<div class="col-md-24">
  <h1>Auto Component <span class="small">自动完成</span></h1>

  <section class="markdown">
    <p>输入框自动完成功能。</p>
  </section>

  <section class="markdown">
    <h2>何时使用</h2>
    <p>需要自动完成时。</p>
  </section>

  <div class="col-md-6">
    <div class="ibox">
      <div class="ibox-title">
        <h5>基础用法</h5>
      </div>

      <div class="ibox-content">
        <div auto-component placeholder="search" value="vm.value" source="vm.results" on-select="vm.select(arg)" on-change="vm.handleChange()" keyword="vm.keyword" class="auto-component-wrap"></div>
      </div>
    </div>
  </div>


  <div style="height: 600px;">

  </div>

  <div style="height: 600px;">
    <div id="anchor2">

      <h2>这是是锚点测试2</h2>
      <button class="jm-btn jm-btn-primary" jm-anchor-smooth-scroll visibility-height="0">到顶部</button>
    </div>
  </div>

  <div style="height: 600px;">

  </div>
</div>
