<ul class="float-nav">
    <li class="mb2">聚贸<br>服务</li>
    <li class="nav01"><a class="link2" href="http://www.jumoretong.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumoretong.com/" target="_blank">通关</a>
    </li>
    <li class="nav02"><a class="link2" href="http://www.jumorecert.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumorecert.com/" target="_blank">认证</a>
    </li>
    <li class="nav03"><a class="link2" href="http://www.jumoreconsult.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumoreconsult.com/" target="_blank">咨询</a>
    </li>
    <li class="nav04"><a class="link2" href="http://www.jumoreai.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumoreai.com/" target="_blank">技术</a>
    </li>
    <li class="nav05"><a class="link2" href="http://www.jumoreshuju.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumoreshuju.com/" target="_blank">大数据</a>
    </li>
    <li class="nav06"><a class="link2" href="http://www.jumoreyun.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumoreyun.com/" target="_blank">物流</a>
    </li>
    <li class="nav07"><a class="link2" href="http://www.jumorerong.com/" target="_blank"><i></i></a>
        <a class="link" href="http://www.jumorerong.com/" target="_blank">金融</a>
    </li>
    <li class="nav08"><a class="link2"><i></i></a>
        <span>400-860-0550</span>
    </li>
    <li class="nav09"><a class="link2"><i></i></a>
    </li>
</ul>