<div class="col-md-24">
  <h1>Layzimg <span class="small">懒加载图片</span></h1>


  <div class="row">
    <!--图片懒加载 -->
    <div class="panel">
      <header class="panel-heading">
        <h3>图片懒加载</h3>
      </header>

      <section class="panel-body">
        <div class="form-group row">
          <div class="col-lg-6">
            <select class="form-control" ng-model="vm.searchText">
              <option value="1">filter 1</option>
              <option value="2">filter 2</option>
              <option value="3">none</option>
            </select>
          </div>

          <span class="p-t-sm" ng-bind="filtered.length">0</span> item(s)
        </div>


        <ul class="list-unstyled">
          <li class="demo-repeat-list--items"
              ng-repeat="image in filtered =(vm.collection | filter:{'type': vm.searchText})">
            <span afkl-lazy-image="{{image.srcset}}" img-error="{{vm.defaultImage}}" class="afkl-lazy-wrapper afkl-img-ratio-3-2"></span>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
