<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul class="category-list">
                <li ng-repeat="list in data" ng-click="searchCategory(list)">
                    <a href="javascript:;" category-tab>{{ list.categoryName }}</a>
                </li>
            </ul>
            <ul class="industry-list" search-tab>
                <li ng-repeat="list in data" ng-click="searchIndustry(list)">
                    <a href="javascript:;" industry-tab>{{ list.industryName }}</a>
                </li>
            </ul>
            <ul class="search-list">
                <li ng-repeat="list in lists">{{ list.content }}</li>
            </ul>
        </div>
    </div>
</div>
