/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about {
  background-image: url(/img/sprite.019758c2e2a5b139bf546bf8a9834a54.png);
  background-position: 0px -110px;
  width: 31px;
  height: 35px;
}
.icon-home {
  background-image: url(/img/sprite.019758c2e2a5b139bf546bf8a9834a54.png);
  background-position: -122px 0px;
  width: 34px;
  height: 36px;
}
.icon-logo {
  background-image: url(/img/sprite.019758c2e2a5b139bf546bf8a9834a54.png);
  background-position: 0px 0px;
  width: 102px;
  height: 90px;
}
