html{
	height: 100%;
}
.container{
	width: 100%;
}
body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Source Sans Pro, Helvetica, sans-serif;
	font-size: 16px;
	flex-direction:column;
	color: #2c3e50;
	overflow-x: hidden;
}
.nav-main{
	
}
.jm-form {
	padding: 38px 50px;
}

.pop-form-header {
	position: relative;
	padding: 12px 0;
	border-bottom: 2px solid #2f8ae5;
}


.pop-form .pop-form-title {
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	color: #646464;
	text-align: center;
	margin: 0;
}

.pop-form .pop-form-title {
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	color: #646464;
	text-align: center;
}

.verfication-code{
	width: 100px;
	height: 34px;
	padding-left: 15px;
}
.verfication-code img{
	width: 100%;
	height: 100%;
}

.verfication-code-wrap{
	display: table;
	width: 100%;
}

.error-group{
	border:1px solid red;
	color: red;
	line-height: 30px;
	padding-left: 8px;
	height: 30px;
	overflow: hidden;
}
#login-form .login-user,
#login-form .login-pass{
	position: relative;
}
#login-form .login-user input,
#login-form .login-pass input{
	padding-left: 45px;
}

#login-form .login-user:before,
#login-form .login-pass:before{
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top:50%;
	font-size: 14px;
	color: #999;
	left: 15px;
	z-index: 2;
	transform: translateY(-50%);
}
#login-form .login-user:before{
	content: "\e008";
}
#login-form .login-pass:before{
	content: "\e033";
}


.verification-code{ 
	height: 100%; 
}

#login-form .reg{
	color: #fc6921;
}

#loginFrame{
	display: none;
}
.jm-close {
	font-size: 27px;
	position: absolute;
	cursor: pointer;
	color: #b7b7b7;
	font-weight: bold;
	top: 10px;
	right: 25px;
}

#header{
	width: 100%;
	z-index: 2;
}
#header header{
	display: flex;
	align-items: center;
}
#header .menu{
	font-size: 24px;
}
.nav-menu{
	position: absolute;
	top: 69px;
	left: 0;
	width: 100%;
	opacity: 1;
	display: block;
	transform: translateY(0);
	transition: all .5s ease;
	z-index: -1;
}
.nav-menu.animate-hidden{
	opacity: 0;
	transform: translateY(-100%);
}
.nav-menu li{
	width: 100%;
	line-height: 28px;
}

.logo h1{
	margin:10px 0 ;
}
.main-area{
	width: 100%;
	padding: 30px;
	background: #f5f5f5;
	flex: 1;
	display: flex;
	align-items: center;
}

#footer{
	width: 100%;
	padding:30px 0;
	line-height: 28px;
}


.news-list li{
	line-height: 28px;
	border-bottom: 1px solid #ccc;
}
.news-list li:last-child{
	border-bottom: none;
}

.news-list .title{
	padding-left: 16px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-list a.title:hover{
	text-decoration: none;
}

#Content{
	resize: none;
}

form{
	margin-top: 15px;
}