<footer id="footer">
<section class="jyt-desc layout">
    <div class="desc-item">
        <dl>
            <dt>Operation <br />guide</dt>
            <dt class="line">操作指南</dt>
            <dd ng-repeat="l in guide" bindonce><a bo-href="l.href" bo-text="l.title"></a></dd>
        </dl>
    </div>

    <div class="desc-item">
        <dl>
            <dt>Logistics <br/> Institute</dt>
            <dt class="line">物流学院</dt>
            <dd ng-repeat="l in logisInst" bindonce><a bo-href="l.href" bo-text="l.title"></a></dd>
        </dl>
    </div>

    <div class="desc-item desc-vip">
      <dl>
        <dt>Free <br/> contact</dt>
        <dt class="line">免费会员咨询热线：</dt>
        <dd>400-6360-888(免长途费)</dd>
        <dd>010-80706099</dd>
        <dd>传真：010-80706099-9</dd>
      </dl>
    </div>

    <section class="qrCodes">
        <h2>轻松实现<br />一站式服务</h2>
        <div class="code-item">
          <img src="/dist/img/appCode.png" alt="">
          <p>聚运通app二维码</p>
        </div>

        <div class="code-item weixinCode">
          <img src="/dist/img/weixinCode.png" alt="">
          <p>聚运通微信二维码</p>
        </div>
    </section>
</section>

<div class="footer-b">
    <p>
      <a href="#">聚贸官网</a>|
      <a href="#">聚贸电商总平台</a>|
      <a href="#">聚贸化工(卖塑郎)</a>|
      <a href="#">聚贸有色(卖铜郎)</a>|
      <a href="#">聚贸传媒</a>|
    </p>
    <p>
      <em class="copyright">COPYRIGHT &copy; 聚贸 www.jumore.com </em>
      <span>浙公网安备 33010602003495号</span>
    </p>
</div>
</footer>
