<h2>{{ title }}</h2>

<div class="demo"></div>
<div class="demo2"></div>
<div class="demo3"></div>

<button ng-click="get()">GET</button>
<button ng-click="post()">POST</button>
<button ng-click="batch()">batch</button>

<button ng-click="getBase()">获取基础数据</button>

<button ng-click="getBaseOther()">获取其他基础数据</button>


<input type="text" ng-model="date"/>
<button ng-click="getDate()">获取时间</button>

<p>
  <input type="text" ng-model="sessionStorage">
  <button type="button" name="button" ng-click="setSessionStroage()">设置sessionStorage</button>
  <button type="button" name="button" ng-click="getsessionStroage()">获取sessionStorage</button>
</p>
