<div class="layout clearfix">
    <div class="pull-left">
        <section class="ibox enquiry-box">
            <header class="ibox-header clearfix">
                <h2>我要询价</h2>
            </header>
            <div class="ibox-cont">
                <div class="search-group clearfix">
                    <h4 class="search-group-title">物流方式：</h4>
                    <div class="search-group-cont">
                        <div class="jm-radio" ng-class="{'jm-radio-checked': type.value === search.lineType}" ng-repeat="type in lineTypes track by $index">
                            <label>
                                <input type="radio" name="t1" ng-value="type.value" ng-model="search.lineType"> {{ type.name }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-group clearfix">
                    <h4 class="search-group-title">输入地点：</h4>
                    <div class="search-group-cont">
                      <input
                        type="text"
                        jm-addr
                        headers="startHeaders"
                        ng-model="startCity"
                        data="data"
                        view-value="startCity"
                        placeholder="始发地"
                      /> -
                      <input
                        type="text"
                        jm-addr
                        headers="endHeaders"
                        ng-model="endCity"
                        data="data"
                        view-value="endCity"
                        placeholder="目的地"
                      />
                    </div>
                </div>
                <div class="search-group clearfix">
                    <h4 class="search-group-title">输入时间：</h4>
                    <div class="search-group-cont date-pick">
                        <input
                          type="text"
                          placeholder="预计发货时间"
                          datepicker-popup="yyyy/MM/dd"
                          ng-model="search.endDate"
                          datepicker-mode="year"
                          ng-focus="open1()"
                          min-date="search.startDate"
                          is-open="opened1"
                          datepicker-options="startDateOptions"
                          close-text="关闭"
                        /> -
                        <input
                          type="text"
                          placeholder="预计到货时间"
                          datepicker-popup="yyyy/MM/dd"
                          ng-model="search.endDate"
                          datepicker-mode="year"
                          ng-focus="open2()"
                          min-date="search.startDate"
                          is-open="opened2"
                          datepicker-options="endDateOptions"
                          close-text="关闭"
                        />
                    </div>
                </div>
                <div class="search-group clearfix pull-left">
                    <h4 class="search-group-title">国内通关服务：</h4>
                    <div class="search-group-cont">
                        <div class="jm-radio" ng-class="{'jm-radio-checked': search.custService === 1}">
                            <label>
                                <input type="radio" name="t2" ng-model="search.custService" value="1"> 需要
                            </label>
                        </div>
                        <div class="jm-radio" ng-class="{'jm-radio-checked': search.custService === 0}">
                            <label>
                                <input type="radio" name="t2" ng-model="search.custService" value="0"> 不需要
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-group pull-left p-l-30 ">
                    <h4 class="search-group-title">目的港清关服务：</h4>
                    <div class="search-group-cont">
                        <div class="jm-radio" ng-class="{'jm-radio-checked': search.custClear === 1}">
                            <label>
                                <input type="radio" name="t3" value="1" ng-model="search.custClear" value="1"> 需要
                            </label>
                        </div>
                        <div class="jm-radio" ng-class="{'jm-radio-checked': search.custClear === 0}">
                            <label>
                                <input type="radio" name="t3" value="0" ng-model="search.custClear" value="0"> 不需要
                            </label>
                        </div>
                    </div>
                </div>
                <p class="search-btn">
                    <button class="jm-btn jm-btn-wraing">查询</button>
                </p>
            </div>
        </section>
        <section class="ibox enquiry-box enquiry-box-data">
            <header class="ibox-header clearfix">
                <h2>线路信息 <small>共<i class="hight-color">149</i>条</small></h2>
                <!-- 字段排序 -->
                <div class="sort-items">
                    <button ng-click="sort('tonnage')" class="sort-item" ng-class="{'active': sortFiled === 'tonnage'}">吨位
                    </button>
                    <button ng-click="sort('orderNums')" class="sort-item" ng-class="{'active': sortFiled === 'orderNums'}">订单数
                    </button>
                    <button ng-click="sort('level')" class="sort-item" ng-class="{'active': sortFiled === 'level'}">等级
                    </button>
                </div>
                <!-- 分页 -->
                <div class="lists-heade-page pull-right">
                    <span>1/10</span>
                    <button ng-click="selectPage(currentPage - 1)" ng-disabled="currentPage === 1">&lt;
                    </button>
                    <button ng-click="selectPage(currentPage + 1)" ng-disabled="currentPage === totalPage">&gt;
                    </button>
                </div>
            </header>
            <div class="ibox-cont border-primary no-padding  no-border">
                <div class="data-table-wrap enquiry-data">
                    <header class="data-table-header">
                        <ul>
                            <li class="span1">物流供应商</li>
                            <li class="span2">始发地</li>
                            <li class="span3">目的地</li>
                            <li class="span4">预计开始时间</li>
                            <li class="span5">预计到达时间</li>
                            <li class="span6">装载类型</li>
                            <li class="span7">订单数</li>
                            <li class="span8">报价</li>
                            <li class="span9">操作</li>
                        </ul>
                    </header>
                    <div class="data-table-cont">
                        <ul>
                            <li ng-class="{'last':  $last}" ng-repeat="li in lists">
                                <a href="" tr-show-detail item="item">
                                    <!-- 供应商 -->
                                    <span class="span1">双来海运公司</span>
                                    <!-- 始发地 -->
                                    <span class="span2">宁波</span>
                                    <!-- 目的地 -->
                                    <span class="span3">福建</span>
                                    <!-- 预计是否时间 -->
                                    <span class="span4">2016-07-25</span>
                                    <!-- 预计到达时间 -->
                                    <span class="span5">2016-07-25</span>
                                    <!-- 装载类型 -->
                                    <span class="span6">
                    <p>挂车</p>
                    <p>17.6米 8.00吨</p>
                  </span>
                                    <!-- 订单数 -->
                                    <span class="span7">
                    23单
                  </span>
                                    <!-- 报价 -->
                                    <span class="span8">
                    6557.00
                  </span>
                                    <!-- 操作 -->
                                    <span class="last span9">
                    <button ng-click="sendGoods()" class="sendBtn">我要下单</button>
                  </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>
        <!-- 分页 -->
        <div class="page-list-wrap clearfix">
            <div pagination total-items="totalItems" ng-model="currentPage" previous-text="&lt;" next-text="&gt;" ng-change="pageChanged()" max-size="maxSize" class="page-list pagination-sm" direction-links="true" num-pages="totalPage">
            </div>
            <div class="select-page-wrap">
                第
                <input type="text" ng-model="page" ng-blur="selectPage(page)">页/共{{ totalPage }}页
            </div>
        </div>
        </div>


        <div class="pull-right quick-bar">
            <div class="quick-order">
                <button class="jm-btn jm-btn-lg jm-btn-primary">快速下单</button>
                <button class="jm-btn jm-btn-lg">发布竞拍</button>
            </div>
            <section class="ibox quick-auction">
                <header class="ibox-header">
                    <h2>快捷竞拍</h2>
                </header>
                <div class="ibox-cont no-padding">
                    <div class="auction-item">
                        <h3 class="pro-name"><a href="">化工原材料PPLA1205 230吨</a></h3>
                        <p class="client">
                            <label class="label">委托方：</label>杭州化工公司</p>
                        <p class="delivery-tm">
                            <label class="label">发货时间：</label>2016-07-25 13：15:09</p>
                        <p>
                            <label class="label">剩余时间：</label>
                            <time class="count-down" countdown endTm="2016/08/02 16:03:00">00 天00时10分10秒</time>
                        </p>
                        <ul class="summary">
                            <li>
                                <label class="label">始发地：</label>杭州滨江区</li>
                            <li>
                                <label class="label">目的地：</label>上海虹桥</li>
                            <li>
                                <label class="label">城&nbsp;&nbsp;市：</label>杭州</li>
                            <li>
                                <label class="label">仓&nbsp;&nbsp;库：</label>西湖广场</li>
                        </ul>
                        <footer class="ibox-footer">
                            <button class="jm-btn">参与竞拍</button>
                            <p class="pull-right">已有<span class="auction-number">12</span>参加</p>
                        </footer>
                    </div>
                    <div class="auction-item disabled">
                        <h3 class="pro-name"><a href="">化工原材料PPLA1205 230吨</a></h3>
                        <p class="client">
                            <label class="label">委托方：</label>杭州化工公司</p>
                        <p class="delivery-tm">
                            <label class="label">发货时间：</label>2016-07-25 13：15:09</p>
                        <ul class="summary">
                            <li>
                                <label class="label">始发地：</label>杭州滨江区</li>
                            <li>
                                <label class="label">目的地：</label>上海虹桥</li>
                            <li>
                                <label class="label">城&nbsp;&nbsp;市：</label>杭州</li>
                            <li>
                                <label class="label">仓&nbsp;&nbsp;库：</label>西湖广场</li>
                        </ul>
                        <footer class="ibox-footer">
                            <button class="jm-btn jm-btn-disabled">竞拍结束</button>
                            <p class="pull-right">已有<span class="auction-number">12</span>参加</p>
                        </footer>
                    </div>
                </div>
            </section>
        </div>
    </div>
