<div class="col-md-24">
  <h1>Alert <span class="small">警告提示</span></h1>

  <section class="markdown">
    <p>警告提示，展现需要关注的信息。</p>
  </section>

  <div class="row">
    <div class="col-md-12">

      <div class="ibox">
        <header class="ibox-title">
          <h5>alert 提示框。</h5>
        </header>

        <div class="ibox-content">
          <button ng-click="vm.alert()" class="jm-btn jm-btn-primary">open</button>
        </div>
      </div>

    </div>

    <div class="col-md-12">
      <div class="ibox">
        <header class="ibox-title">
          <h5>confirm 确认框</h5>
        </header>

        <div class="ibox-content">
          <button ng-click="vm.confirm()" class="jm-btn jm-btn-primary">confirm</button>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="ibox">
        <header class="ibox-title">
          <h5>自定义模板</h5>
        </header>

        <div class="ibox-content">
          <button ng-click="vm.custom()" class="jm-btn jm-btn-primary">custom</button>
        </div>
      </div>
    </div>
  </div>
</div>
