<div class="pop-form">
    <header class="pop-form-header">
        <h2 class="pop-form-title">Login</h2>
        <span class="jm-close" ng-click="close()">&times;</span>
    </header>

    <div>
        <form
            id='login-form'
            name='loginnormal'
            class="jm-form form-horizontal"
            method='post'

            target='loginFrame'
            jm-login-login
            serverUrl="https://uc.dev.com/cas/v1/muteLogin"
            sessionId="shiroJID"
            on-close="close()"
            novalidate>

            <input id='service' class="ng-hide" name='service' value='{{serverAddress}}/webapi/shiro-cas' />

            <input id='bizcode' class="ng-hide" name='bizcode' value='1004'/>

            <div class="form-group error-group" ng-show="(loginnormal.$invalid || errTip) && submitted">
                <div class=" text-danger" ng-show="userInValid">Phone Number or Password error</div>
                <div class=" text-danger" ng-show="verifyCode">VerifyCode Error</div>
                <div class=" text-danger" ng-show="loginnormal.username.$error.required">Phone Required</div>
                <div class=" text-danger" ng-show="loginnormal.password.$error.required">Password Required</div>
                <div class=" text-danger" ng-show="loginnormal.checkcode.$error.required">VerifyCode Required</div>

            </div>


            <!-- 用户名 -->
            <div class="form-group">
                <div class="login-user">
                    <input type="text"
                           class="form-control"
                           placeholder="Phone Number"
                           name="username"

                           ng-blur="checkIsRequiredCode()"
                           ng-model="userName"
                           required>

                    <!-- ng-pattern="/0?(13|14|15|18)[0-9]{9}/" -->
                </div>
            </div>

            <!-- 密码 -->
            <div class="form-group">
                <div class="login-pass">
                    <input type="password"
                           name="password"
                           placeholder="Password"
                           ng-model="password"
                           class="form-control"
                           required>
                </div>
            </div>

            <!-- 验证码 -->
              <!-- ng-show="isRequiredCode" -->
            <div class="form-group" >
                <div class=" input-group  verfication-code-wrap">
                    <input type="text" ng-model="checkcode" name="checkcode" class="form-control" ng-required="isRequiredCode" placeholder="Code">
                    <div class="input-group-btn verfication-code">
                        <img ng-src="{{verifiCodeSrc}}" alt="" ng-click="changeCode()">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input ng-model="rememberMe"  type="checkbox" name="rememberMe"> Remember me
                    </label>
                </div>
            </div>

            <!-- 登录 -->
            <div class="jmform-control-group">
                <input type="submit" ng-disabled="loging" class="btn btn-block btn-info" value="login"  ng-click="submit($event)">
            </div>

        </form>
    </div>
</div>
