<div class="jm-page clearfix">
	<div class="p-wrap">
		<span class="p-nums">
			<a href="" class="pn-prev" ng-show="currentPage != 1" ng-click="selectPrevious($event)">
				<i>&lt;</i>
				<em>上一页</em>
			</a>




			<b class="pn-break">...</b>

			<a href="" ng-class="{active: currentPage == p.index}" ng-repeat="p in pages">{{p.index}}</a>

			<b class="pn-break">...</b>

			


			<a href="" class="pn-next" ng-show="currentPage != numPages" ng-click="selectNext($event)">
				<em>下一页</em>
				<i>&gt;</i>
			</a>
		</span>

		<span class="p-skip">
			<em>共 <b>{{ numPages }}</b> 页 &nbsp;&nbsp; 到第</em>
			<input type="text" class="jm-form-control" ng-model="currentPage"><em>页</em>
			<a href="" class="btn btn-default" ng-click="selectPage($event)">确定</a>
		</span>
	</div>
</div>