<!-- <jm-tabset  direction="right">
    <jm-tab  ui-sref="home">
        <jm-tab-header style="margin-right:5px;">go Home</jm-tab-header>
        <jm-tab-header><i class="glyphicon glyphicon-home"></i></jm-tab-header>
		<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
		<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>

    <jm-tab on-select="select(arg)"  href="http://baidu.com">
        <span jm-tab-header style="margin-right:5px;">go Baidu</span>
        <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
    </jm-tab>

    <jm-tab title="Message">
        <p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
    </jm-tab>

    <jm-tab title="Setting">
        <p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>
</jm-tabset> -->


<jm-tabset type="vertical"  direction="right">
    <jm-tab title="{{tab.title}}" ng-repeat="tab in tabs" selected="tab.selected">
        <div>{{tab.content}}</div>
    </jm-tab>
</jm-tabset>


<h3 class="clearfix">
    <p class="pull-left">news list</p>
    <button class="btn btn-sm btn-info pull-right" ui-sref="news.save()">Add</button>
</h3>
<hr>
<ul class="list-unstyled news-list">
    <li ng-repeat="new in news track by new._id.$oid" class="row">
        <a ui-sref="news.detail({id: new._id.$oid})" class="title col-sm-9 col-xs-12">{{new.title}}</a>
        <div class="col-sm-3 text-right col-xs-12">
            <button class="btn btn-xs btn-info" ui-sref="news.save({id: new._id.$oid})">Update</button>
            <button class="btn btn-xs btn-info" ng-click="remove($event, new)">Remove</button>
        </div>
    </li>
</ul>

<jm-pagination total-page="numPages" total-items="150" items-per-page="itemsPerPage" boundary-links="1" on-select-page="selectPage(page)" previous-text="Previous" next-text="Next" max-size="5" current-Page="currentPage"></jm-pagination>
