<jm-tabset trigger="mouseover" delayed="300">

    <div jm-tabset-title class="jm-tabs-title">tabset title <i class="glyphicon glyphicon-signal"></i></div>

    <jm-tab on-select="select(arg)">
        <jm-tab-header style="margin-right:5px;">go Home</jm-tab-header>
        <jm-tab-header><i class="glyphicon glyphicon-home"></i></jm-tab-header>
		<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
		<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>

    <jm-tab on-select="select(arg)">
        <span jm-tab-header style="margin-right:5px;">go Baidu</span>
        <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
        <p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>-->
    </jm-tab>

    <jm-tab heading="Setting" on-select="select(arg)">
        <p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>
</jm-tabset>


<jm-tabset  direction="right">

    <div jm-tabset-title class="jm-tabs-title"><i class="glyphicon glyphicon-signal"></i>检测服务</div>

    <jm-tab  ui-sref="home" heading="化工">
		<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>

    <jm-tab on-select="select(arg)" heading="有色">
        <span jm-tab-header style="margin-right:5px;">有色</span>
        <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
        <p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
    </jm-tab>

    <jm-tab heading="工业品">
        <p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
    </jm-tab>
</jm-tabset>


<jm-tabset type="vertical"  direction="left">
    <jm-tab heading="" ng-repeat="tab in tabs" selected="tab.selected">
        <jm-tab-header><span style="margin-right:8px;">{{tab.title}}</span><i class="glyphicon glyphicon-home"></i></jm-tab-header>
        <div>{{tab.content}}</div>
    </jm-tab>
</jm-tabset>

<jm-tabset type="vertical"  direction="right">
    <jm-tab heading="" ng-repeat="tab in tabs" selected="tab.selected">
        <jm-tab-header><span style="margin-right:8px;">{{tab.title}}</span><i class="glyphicon glyphicon-home"></i></jm-tab-header>
        <div>{{tab.content}}</div>
    </jm-tab>
</jm-tabset>




<h2>手风琴</h2>
<jm-accordions>
    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1 <i class="pull-right glyphicon glyphicon-plus"></i></header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>
</jm-accordions>

<jm-accordions>
    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1 <i class="pull-right glyphicon glyphicon-plus"></i></header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>

    <jm-accordion>
        <header class="jm-accordion-title">Collapsible Group1</header>
        <section class="jm-accordion-content">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </section>
    </jm-accordion>
</jm-accordions>


<h3 class="clearfix">
    <p class="pull-left">news list</p>
    <button class="btn btn-sm btn-info pull-right" ui-sref="news.save()">Add</button>
</h3>
<hr>
<ul class="list-unstyled news-list">
    <li ng-repeat="new in news track by new._id.$oid" class="row">
        <a ui-sref="news.detail({id: new._id.$oid})" class="title col-sm-9 col-xs-12">{{new.title}}</a>
        <div class="col-sm-3 text-right col-xs-12">
            <button class="btn btn-xs btn-info" ui-sref="news.save({id: new._id.$oid})">Update</button>
            <button class="btn btn-xs btn-info" ng-click="remove($event, new)">Remove</button>
        </div>
    </li>
</ul>

<jm-pagination 
    total-page="numPages" 
    boundary-links="1" 
    on-select-page="selectPage(page)" 
    previous-text="Previous" 
    next-text="Next" 
    max-size="2" 
    current-Page="currentPage">
        
</jm-pagination>
