<div class="jm-transfer">
  <div class="jm-transfer-list">
    <div class="jm-transfer-list-header">
      <jm-checkbox checked="sourceAll" on-change="changeAll(arg, 'source')"></jm-checkbox>
      <span>{{ sourceCheckeds.length }} items</span>
      <span class="jm-transfer-list-header-title">{{ titles[0] }}</span>
    </div>

    <div class="jm-transfer-list-body">
      <div class="jm-transfer-list-content" on-change="onChange()" jm-checkbox-group options="source"
           checkeds="sourceCheckeds">
      </div>
    </div>
  </div>

  <div class="jm-transfer-operation">

    <button ng-disabled="!sourceCheckeds.length" class="jm-btn jm-btn-primary jm-btn-block" ng-click="addTarget()">
      &gt;</button>
    <button ng-disabled="!targetCheckeds.length" class="jm-btn jm-btn-primary jm-btn-block" ng-click="lessTarget()">
      &lt;</button>
  </div>

  <div class="jm-transfer-list">
    <div class="jm-transfer-list-header">
      <div jm-checkbox checked="targetAll" on-change="changeAll(arg, 'target')"></div>
      <span>{{targetCheckeds.length}} items</span>
      <span class="jm-transfer-list-header-title">{{ titles[1] }}</span>
    </div>

    <div class="jm-transfer-list-body">
      <div class="jm-transfer-list-content" on-change="onChange('target')" jm-checkbox-group options="targetKeys"
           checkeds="targetCheckeds">
      </div>
    </div>
  </div>
</div>