<div class="col-md-24">
  <h1>Auto Component <span class="small">自动完成</span></h1>

  <section class="markdown">
    <p>输入框自动完成功能。</p>
  </section>

  <section class="markdown">
    <h2>何时使用</h2>
    <p>需要自动完成时。</p>
  </section>

  <div class="col-md-6">
    <div class="ibox">
      <div class="ibox-title">
        <h5>基础用法</h5>
      </div>

      <div class="ibox-content">
        <div auto-complete
             placeholder="search"
             value="vm.value"
             source="vm.results"
             on-select="vm.select(arg)"
             on-change="vm.handleChange()"
             keyword="vm.keyword"
             class="auto-complete-wrap">

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="ibox">
      <div class="ibox-title">
        <h5>自定义模板用法</h5>
      </div>

      <div class="ibox-content">
        <div auto-complete
             placeholder="search"
             value="vm.value"
             source="vm.results"
             on-select="vm.select(arg)"
             on-change="vm.handleChange()"
             keyword="vm.keyword"
             template-url="{{ vm.tplUrl }}"
             class="auto-complete-wrap">
        </div>
      </div>
    </div>
  </div>
</div>
